/* CSS Reset */
body, header, nav, main, footer, ul, li, a, h1, h2, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Show mobile, hide desktop */
.mobile-only {
    display: block;
}

.mobile-tablet {
    display: block;
}

.tablet-only {
    display: none;
}

.tablet-desktop {
    display: none;
}

.desktop-only {
    display: none;
}

/* Style rules for body */
body {
	background-color: #f5daba;
    	width: 100%;
   	overflow-x: hidden;
    	transition: 0.5s;
	font-family: Verdana, sans-serif;
	position: absolute;
	min-height: 100vh;	
}

#contentWrapper {
    overflow-x: hidden;
    transition: 0.5s;
    width: 100%;
	padding-bottom: 80px;
}

/* Style rules for header */
header {
	background-image: linear-gradient(to bottom right, #a7f5a4, #16c25e, #216628);
	height: 100%;
	min-height: 60px;
}

#navButtonContainer {
    width: 100%;
    height: 60px;
    max-height: 60px;
}

#mobileLogoCenter {
    height: 55px;
    width: 55px;
    margin: auto;
}

#mobileLogoCenter img {
    height: 55px;
    width: 55px;
}

#mobileNavBtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
}

/* Style rules for nav */
#sideNav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f5daba;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

#sideNav ul a {
	transition: 0.3s;
	padding: 5px;
	padding-bottom: 32px;
	color: #000000;
	font-size: 1.2em;
}
	
#sideNav ul {
    margin: 0.2em;
	white-space: nowrap;
}

#sideNav li {
    padding: 0.5em 0 0.5em 0.25em;
    border-top: 1px #000000 solid;
}

#sideNav li:first-child {
	border-top: none;
}

#exit-button{
	font-weight: bolder;
	position: absolute;
	top: 5px;
	right: 10px;
	text-decoration: none;
	font-size: 1.5em;
	color: #000000;
}

nav ul a {
    text-decoration: none;
    color: #f5daba;
    font-size: 1.25em;
    font-weight: bold;
}

/* Style rules for main area */
main {
    padding: 2%;
	margin: 1%;
	margin-bottom: 60px;
}

/*Style rules for the catering page, mobile first*/
#catering{
	text-align: center;
	height: auto;
	margin: 2%;
}

#menu{
	border: 1px solid white;
	margin: 1% auto;
	padding: 2%;
}

#menu-items{
	border-radius: 5px;
}

#menu-items img{
	width: 100%;
	border-radius: 5px;
	display: block;
}

#menu-items figure{
	position: relative;
	text-align: center;
}



.figure-data:hover + .catering-desc{
	display: block;
}

.catering-desc:hover{
	display: block;
}

#menu-items figcaption{
	position: absolute;
	bottom: 0;
	font-size: 2em;
	width: 100%;
	font-family: "Mongolian Baiti", "Times New Roman", serif;
	background-color: #fff;
	opacity: 75%;
	border-radius: 5px;
}

.round{
	border-radius: 20px;
}

.catering-desc{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 70%;
	border-radius: 5px;
}

/* display grid as one column on mobile */
.twocol-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.threecol-grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1%;
}

article {
    border: 5px solid #ffffff;
    color: #000000;
    padding: 5px;
}

article h3{
	text-align: center;
}

article img{
	margin: 0 auto;
	display: block;
}

article ul {
    margin-left: 20px;
}

article:nth-of-type(2){
	background-color: rgba(204, 204, 204, 0.3);
}

.homeImg {
    width: 90%;
    margin: 0 auto;
}

/* Style rules for footer area */
footer {
	background-image: linear-gradient(to bottom right, #a7f5a4, #16c25e, #216628);
	min-height: 60px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 600px) {
    /* Hide mobile only, show tablet content */
    .mobile-only {
        display: none;
    }

    .tablet-only {
        display: block;
    }

    .tablet-desktop {
        display: block;
    }
	
	/* Style rules for body */
	
	/* TBD
	#contentWrapper{
		background: linear-gradient(transparent 50%, #fff)
	}
	*/

    /* Style rules for header */
    #mobileLogoCenter {
        height: 55px;
        width: 450px;
        margin: auto;
        text-decoration: none;
        color: #000000;
        font-size: 36px;
    }

    #mobileLogoCenter span {
        display: inline-block;
    }

    /* Set grid to two columns on tablet */
    .twocol-grid {
        grid-template-columns: 48% 48%;
    }

    /* set grid to three columns on tablet */
    .threecol-grid {
        grid-template-columns: 32% 32% 32%;
    }

	/*tablet viewport for main content*/

	.grid{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.grid-item4{
		grid-column: 1 / span 3;
	}
	
	/*Set grid to 3 columns*/
	.menu-grid{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 20px;
		align-items: center;
		justify-content: center;
	}
}
/* End of Media Query for Tablet Viewport */ 


/* Media Query for Desktop Viewport */
@media screen and (min-width: 1040px) {
    /* Hide mobile/tablet content, show desktop content */
    .tablet-only {
        display: none;
    }

    .mobile-tablet {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    /* CSS Rules for Desktop Header */
    header {
        background-color: #16c25e;
        position: relative;
		padding-left: 2%;
    }

    header h1 {
        font-size: 5em;
        text-align: left;
    }

    /* CSS Rules for Desktop Nav */
    nav {
        padding: 1%;
    }

    .mobileNavRow {
        display: none;
    }

    nav ul {
        list-style-type: none;
    }
    
    nav li {
        display: inline-block;
    }
    
    nav li a {
        font-weight: bold;
        padding: 0.4em 0.8em;
        color: #000000;
    }
    
    nav li a:hover {
        background-color: #ffffff;
    }
    
    /* CSS Rules for dropdown nav menus */
    .dropdownMenu {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        padding: 0em;
        z-index: 1;
    }
    
    .dropdownMenu a {
        display: block;
        margin: 0;
    }
    
    .dropdownMenu a:hover {
        background-color: #eeeeee;
    }
    
    .dropdown:hover .dropdownMenu {
        display: block;
    }
    
    .dropdown:hover .dropdownBtn {
        background-color: #ffffff;
    }

    /* customize grid for desktop */
    .twocol-grid {
        width: 80%;
        margin: 0 auto;
    }
	
	.menu-grid{
		grid-template-columns: 33% 33% 33%;
	}
}
/* End of Media Query for Desktop Viewport */
